.course-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(253px, calc((100% - 36px) / 3)));
  grid-template-rows: repeat(auto-fit, 210px);
  gap: 18px;
}

@media screen and (max-width: 1200px) {
  .course-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .course-list {
    grid-template-columns: 1fr;
  }
}
